argcomplete==1.12.2
asgiref==3.2.10
astroid==2.4.2
boto3==1.17.12
botocore==1.20.12
certifi==2020.6.20
cfn-flip==1.2.3
chardet==3.0.4
click==7.1.2
Django==3.0.7
django-cors-headers==3.4.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
durationpy==0.5
future==0.18.2
hjson==3.0.2
idna==2.10
importlib-metadata==3.4.0
isort==4.3.21
jmespath==0.10.0
kappa==0.6.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauthlib==3.1.0
pip-tools==5.5.0
pkg-resources==0.0.0
placebo==0.9.0
PyJWT==1.7.1
pylint==2.5.3
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.1
PyYAML==5.4.1
requests==2.24.0
s3transfer==0.3.4
six==1.15.0
sqlparse==0.3.1
text-unidecode==1.3
toml==0.10.1
tqdm==4.57.0
troposphere==2.6.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.9
Werkzeug==0.16.1
wrapt==1.12.1
wsgi-request-logger==0.4.6
zappa==0.52.0
zipp==3.4.0
